<%- include('./header'); -%>

    <!-- This is the sign up form -->
    <form action="/listings/:ID/edit?_method=PUT" method="POST">
      <div class="container">
        <div class="col-md-6 mx-auto text-center">
          <div class="header-title">
            <h1 class="wv-heading--title">Edit your Event</h1>
            <h2 class="wv-heading--subtitle">
              Edit Event below
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mx-auto">
            <div class="myform form">
              <form action="\createListing" method="post" name="login">
                <div class="form-group">
                  <input
                    type="text"
                    name="name"
                    class="form-control my-input"
                    id="name"
                    placeholder="Name : <%= data.name %>"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="number"
                    name="listingid"
                    class="form-control my-input"
                    id="listingid"
                    placeholder= "<%= data.ID %>"
                    value= "<%= data.ID %>"
                    hidden
                  />
                </div>
                <div class="form-group">
                  <input
                    type="date"
                    name="date"
                    class="form-control my-input"
                    id="date"
                    placeholder="Date: <%= data.Date %>"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="time"
                    name="time"
                    class="form-control my-input"
                    id="time"
                    placeholder="Time: <%= data.Time %>"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="TEXT"
                    name="location"
                    id="location"
                    class="form-control my-input"
                    placeholder="Location: <%= data.Location %>"
                  />
                </div>
                <div class="form-group">
                  <textarea
                    type="textarea"
                    name="details" 
                    id="details"
                    class="form-control my-input"
                    placeholder="Event Details: <%= data.Description %>"
                  ></textarea>
                </div>
                <div class="text-center">
                  <button
                    type="submit"
                    class="btn btn-block send-button tx-tfm btn-dark"
                  >
                    Edit Event
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </form>

<%- include('./footer'); -%>
