<%- include('./header'); -%>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Group ID</th>
      <th scope="col">Group Name</th>
      <th scope="col">Creator</th>
      <th scope="col">Date Created</th>
      <th scope="col">Events</th>
    </tr>
  </thead>
  <tbody>
    <% data.forEach((element, index) => {%>
    <tr>
      <th scope="row"><%= data[index].ID %></th>
      <td><%= data[index].Name %></td>
      <td><%= data[index].Creator_ID %></td>
      <td><%= data[index].created_at %></td>
      <td><button type="button" class="btn btn-secondary" onclick="goToGroup('<%= data[index].ID %>')">More Info</button></td>
    </tr>
    <%});%>
  </tbody>
</table>

<div class="d-flex mt-2">
        <button class="btn1 btn-dark " onclick="location.href='/createGroup'">Create Group</button>
      </div>

<%- include('./footer'); -%>