<%- include('./header'); -%>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Group Name</th>
      <th scope="col">Creator</th>
      <th scope="col">Date Created</th>
      <th scope="col">Events</th>
    </tr>
  </thead>
  <tbody>
    <% data.forEach((element, index) => {%>
    <tr>
      <th scope="row">1</th>
      <td><%= data[index].Name %></td>
      <td><%= data[index].Creator_ID %></td>
      <td><%= data[index].created_at %></td>
      <td><button type="button" class="btn btn-secondary" onclick="">More Info</button></td>
    </tr>
    <%});%>
  </tbody>
</table>

<%- include('./footer'); -%>